.dashboard {
  margin-top: 65px;
  background-color: #f2f2f2;

  display: flex;
  flex-direction: column;
  gap: 40px;

  border-radius: 20px;
  padding: 36px 75px 50px;
  margin-bottom: 100px;

  text-align: center;
  h1 {
    font-weight: 700;
    font-size: 36px;
  }
}

.filter-buttons {
  margin: 0 5px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  button {
    width: 210px;
    height: 50px;

    border: none;
    border-radius: 10px;

    color: #41484e;
    background-color: #eae8e8;

    font-weight: 500;
    font-size: 20.5346px;

    cursor: pointer;
  }
}
button.active-filter {
  background-color: #afdecd;
  color: black;
  font-weight: 700;
}

.task-table {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .table-header {
    display: flex;
    justify-content: space-between;

    margin: 5px 10px 5px 50px;
    p {
      font-weight: 600;
      font-size: 25px;
      color: #555461;
    }
  }
  .task-item {
    display: flex;
    justify-content: space-between;

    background-color: rgba(196, 196, 196, 0.25);

    padding: 25px 15px 25px 50px;
    border-radius: 18px;

    .task-data {
      min-width: 50px;
      text-align: center;
    }
    .task-points p {
      min-width: 50px;

      font-weight: 400;
      font-size: 21px;
      margin-right: 40px;
    }
    .task-id p {
      font-weight: 600;
      font-size: 21px;
      text-align: center;
      margin-left: 20px;
    }
    .task-full-name p {
      font-weight: 400;
      font-size: 22px;
      min-width: 150px;
    }
    .task-status {
      min-width: 60px;
      text-align: left;
    }
    .category {
      min-width: 100px;
      text-align: center;
      border-radius: 12px;

      padding: 3px 0;
      p {
        font-weight: 600;
        font-size: 21px;
      }
    }
  }
}

.flora {
  background-color: #a2b38e;
}
.land {
  background-color: #e4e9c1;
}
.sorting {
  background-color: #639d9a;
}
.tech {
  background-color: #e8c083;
}
.waste {
  background-color: #9fc08c;
}
