@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

.logo{
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-size: 30px;
  letter-spacing: -0.04em;
  font-weight: 700;

  span {
    font-weight: 800;
    color: #35AD83;
  }
}