.password-container {
  position: relative;
  width: 100%;
  .eye {
    position: absolute;
    right: 6px;
    top: 10px;
    width: 17px;
    height: 17px;

    cursor: pointer;
  }
  .eye-with-label {
    right: 12px;
    top: 38px;
  }
}

.password-container + .password-container {
  margin-left: 13px;
}
