@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import "./form.styles";

$bgColor: #f1ffe5;
$separateHrColor: #556748;
$taskBgColor: #d9ebcc;
$additionalInfoBgColor: #c3d7a8;

@mixin taskColors($bgTask, $shadowTask, $h3FontSize, $countOfFontSize) {
  background-color: $bgTask;
  box-shadow: -12px -12px 0 $shadowTask;

  h3 {
    font-weight: 700;
    font-size: $h3FontSize;
  }
  .count-of {
    font-weight: 200;
    font-size: $countOfFontSize;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

main {
  min-height: 100vh;
  padding-top: 60px;
  background-color: $bgColor;
  position: relative;
}

.title-box {
  height: 650px;
  background: url("images/title-bg.png") 0 0 / 100% auto no-repeat;

  border-radius: 0 0 40px 40px;
  div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    h1 {
      font-weight: 800;
      font-size: 128px;
    }
    p {
      font-weight: 700;
      font-size: 36px;
    }
  }
  @media (max-width: 1200px) {
    height: 350px;
    div {
      h1 {
        font-size: 64px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}

.dots {
  margin: 60px 45%;

  hr {
    color: $separateHrColor;
    border: 16px dotted;
    border-style: none none dotted;
  }
}

.line-box {
  margin: 60px 35%;

  hr {
    background-color: $separateHrColor;
    border: none;
    border-radius: 10px;
    height: 8px;
  }
}

.tasks-box {
  background-color: $taskBgColor;

  margin: 25px;
  padding: 70px 50px;
  border-radius: 50px;

  // font
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.04em;

  display: grid;
  grid-template-areas:
    "a a b b c c"
    "a a b b d e";
  gap: 32px;

  div {
    padding: 15px;
    border-radius: 25px;
    letter-spacing: -0.04em;

    cursor: pointer;

    .task-description {
      font-weight: 300;
      font-size: 20px;
      line-height: 25px;
    }
    span {
      font-weight: 500;
    }
  }

  @mixin bigCardStyles {
    text-align: left;
    padding: 70px 40px 30px 15px;

    h3 {
      margin: 9px 0;
    }
    .task-description {
      height: 125px;
      width: 85%;
    }
  }
  @mixin averageCardStyles {
    padding: 40px 45px 20px 80px;
    position: relative;
    min-height: 175px;
    text-align: center;

    img {
      position: absolute;
      top: 30%;
      left: 45px;
    }
    h3 {
      margin-bottom: 10px;
    }
  }
  @mixin smallCardStyles {
    text-align: center;
    padding: 5px 5px 10px;

    h3 {
      margin-bottom: 5px;
    }
  }
  #garbage-sorting {
    grid-area: a;
    @include taskColors(#629d9a, #55817e, 38px, 18px);
    @include bigCardStyles();
  }
  #paper-waste {
    grid-area: b;
    @include taskColors(#9fc088, #7e9b69, 38px, 18px);
    @include bigCardStyles();
  }
  #resource-saving {
    grid-area: c;
    @include taskColors(#e8c07d, #c3a269, 28px, 16px);
    @include averageCardStyles();
  }
  #plant-flora {
    grid-area: d;
    @include taskColors(#a2b38b, #8c9c76, 28px, 16px);
    @include smallCardStyles();
  }
  #clean-land {
    grid-area: e;
    @include taskColors(#e4e9be, #cbd0a4, 28px, 16px);
    @include smallCardStyles();
  }
}

.additional-info {
  background-color: $additionalInfoBgColor;

  padding: 50px 300px 50px 120px;
  border-radius: 50px 50px 0 0;

  display: flex;
  img {
    margin-right: 55px;
  }

  .text-info {
    margin: 40px 0;

    h1 {
      font-weight: 700;
      font-size: 70px;
      line-height: 87px;

      margin-bottom: 10px;
    }
    h1 ~ h1 {
      margin-top: 50px;
    }
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
    }
    .tutorial-link {
      color: black;
      font-weight: 600;
    }
  }
}
