

.sign-in-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #B2D8C9;
}

.sign-form {
  text-align: center;
  width: 470px;
  background: #f5f5f5;
  border-radius: 48px;
  padding: 34px 80px 32px 80px; //
}

.sign-form form {
  margin: 16px 0;
}


.sign-form .sign-form__link {
  //text-align: left;
  font-weight: 400;
  font-size: 15.1698px;
  line-height: 18px;
  color: #41484E;
  margin-bottom: 17px;
}

.sign-form .sign-form__link-forget {
  color: #6EB39A;
  &:hover{
    text-decoration:none;
  }
}

.sign-form .sign-form__link-not {
  color: #6EB39A;
  &:hover{
    text-decoration:none;

  }
}

.sign-form .sign-in__text-or {
  font-size: 15px;
  margin-top: 13px;
  margin-bottom: 13px;
  color: #8F8C9C;
  position: relative;
  &::before,&:after{
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    top: 50%;
    width: 140px;
    background-color: #8F8C9C;
  }
  &::before{
    left: -10px;
  }
  &::after{
    right: -10px;
  }
}

.sign-form__link-not {
  margin-top: 22px;
  color: #41484E;
}