$separateHrColor: #1e263b;
$additionalInfoBgColor: #f1be62;

.tutorial-main-box {
  padding-top: 60px;
  background-color: #e5e5e5;

  .title-box {
    height: 100vh;
    background: url("images/title-bg.png") 0 0 / 100% 100% no-repeat;

    div {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;

      h1 {
        font-weight: 800;
        font-size: 128px;
        text-transform: uppercase;
      }
      p {
        font-weight: 700;
        font-size: 36px;
      }
    }

    @media (max-width: 1200px) {
      height: 350px;
      div {
        h1 {
          font-size: 64px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
  .dots {
    margin: 60px 45%;

    hr {
      color: $separateHrColor;
      border: none;
      border-top: 16px dotted;
    }
  }

  .line-box {
    margin: 60px 38%;

    hr {
      background-color: $separateHrColor;
      border: none;
      border-radius: 10px;
      height: 8px;
    }
  }
}

.tutorial-main-box {
  .additional-info {
    background-color: $additionalInfoBgColor;

    padding: 65px 70px 60px;
    border-radius: 50px 50px 0 0;

    display: flex;
    flex-direction: column;

    p.additional-info-paragraph {
      text-align: center;
      font-weight: 300;
      font-size: 24px;
    }
    h2 {
      text-align: center;
      font-weight: 700;
      font-size: 70px;
      color: black;
    }
    .eco-in-numbers-boxes {
      display: flex;
      justify-content: space-between;
      margin-top: 110px;
    }
  }
}
.eco-in-numbers-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  flex: 1 1 0px;
  img {
    height: 110px;
  }
  h5 {
    font-weight: 700;
    font-size: 42px;
    margin: 10px 0 2px;
  }
  p {
    font-weight: 400;
    font-size: 25px;
    width: 90%;
    text-align: left;
  }
}
