
.header {
  font-size: 20px;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #fff;
  padding: 10px 34px;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  a {
    text-decoration: none;
  }

  ul,
  ul li,
  ul ul li {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .active {
    color: #35AD83;
  }
}


.header-logo {
  display: flex;
  align-items: baseline;
  color: #000;

  margin-right: 40px;
}

.header-logo__text {

}

.header-buttons {
  position: relative;

  .header-links {
    display: flex;
  }

  &__button + &__button {
    margin-left: 45px;
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 2px;
    background: #E1E4E9;
    border-radius: 10px;
    left: 0;
    top: 0;
    bottom: 0;
  }
}

.header-buttons__button {
  display: block;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;

  line-height: 33px;

  a {
    color: #555461;

    &:hover {
      color: #000;
    }

  }

  &:first-child {
    margin-left: 45px;
  }
}

.header-content {
  display: flex;
  align-items: baseline;
}

.header-auth {
  font-family: 'Overpass', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  display: flex;
  align-items: center;

  &__signup {
    color: #555461;

    &:hover {
      color: #000;
    }
  }

  &__signin {
    color: #555461;
    margin-left: 28px;
    border: 2px solid #BFBFBF;
    border-radius: 30px;
    padding: 3px 15px;

    &:hover {
      background: #6EB29A;
      border: 2px solid #FFFFFF;
      color: #fff;
    }
  }

}

.header-auth__signin.active {
  background: #6EB29A;
  border: 2px solid #FFFFFF;
  color: #fff;
}

.header-auth__logout{
  border: 2px solid #BFBFBF;
  border-radius: 30px;
}