footer {
  color: white;
  background-color: #062c30;

  width: 100%;
  height: 100px;
  padding: 20px;

  position: absolute;
  bottom: 0;
}
.footer-box {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  position: relative;
}
.footer ul {
  list-style: none;

  display: flex;
  gap: 15px;
  justify-content: center;
}
.footer ul li {
  display: flex;
  align-items: center;
}

.logo-box {
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: flex-end;
  span {
    font-weight: 800;
    font-size: 42px;
    margin-bottom: 10px;
  }

  margin-right: 60px;
}

.contacts-box h4,
.social-box h4 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
}

.contacts-box {
  li {
    font-weight: 400;
    font-size: 16px;
  }
  ul {
    gap: 30px;
  }
}
.social-box {
  ul {
    text-align: center;

    gap: 25px;
  }
  li {
    cursor: pointer;
    &:hover {
      opacity: 60%;
    }
  }
  a{
    color: white;
  }
}
.copyright-box {
  font-size: 10px;
  color: lightgray;

  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width: 1000px) {
  footer {
    width: 100%;
    height: 250px;
    padding: 20px;

    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .logo-box {
    justify-content: center;
    margin-left: 0;
  }
  .contacts-box {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: 20px;
  }
  .contacts-box ul {
    flex-direction: column;
  }
  .contacts-box li {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 450px) {
  footer {
    height: 340px;

    grid-template-columns: 1fr;
    gap: 25px;
  }
  .contacts-box {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 0;
  }
}
