@import url("./assets/fonts/Gilroy/stylesheet.css");

body {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
a {
  font-family: "Gilroy", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding-bottom: 100px; /* Footer height */
}
@media (max-width: 1000px) {
  main {
    padding-bottom: 340px; /* Footer height */
  }
}

#root {
  position: relative;
  min-height: 100vh;
}
