@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;700&family=Overpass:wght@400;600&display=swap");
@import url("./assets/fonts/Gilroy/stylesheet.css");

body {
  font-family: "Barlow", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
span,
p,
a,
div {
  margin: 0;
  padding: 0;
}
